*{
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
root{
    --giallozaff: #ff9614;
    --purplezaff: #7b69a2;
    --purpletext: #4e3969;
}
header{
    h1{
        font-family: 'Nerko One', cursive; 
        color: #ff9614;
        text-shadow: 1px 1px gray;
    }
    padding: 10px;
}

.main-container{
    display: flex;
    justify-content: center;
}
main{
    padding-top: 70px;
    max-width: 1200px;
    .description{
        color: gray;
    }
}
    .rate{
        i{
            color: #ff9614;
        };
        span{
            border: solid #ff9614;
            border-radius: 30px;
            padding: 10px;
            color: white;
            background-color: #ff9614;
        }
    }
    .tumb-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            font-size: 50px;
            color: #4e3969;
        }
    }
    .video-container{
        iframe{
            width: 800px;
            height: 450px;
        }
        display: flex;
        
    }
    .info-container{
        width: 400px;
        .kcal-info{
            display: flex;
            justify-content: space-between;
            padding: 50px 50px 30px 50px;
            div{
                background-color: #7b69a2;
                color: white;
                padding: 5px;
                border-radius: 5px;
            }
            strong{
                color: #ff9614;
                font-size: 20px
            }
        }
        #carrot{
            padding-left: 50px;
        }
        .info{
            padding: 30px;
            i{
                color: #ff9614;
            }
            div{
                padding-bottom: 15px;
            }
        }
    }
    .social{
        display: flex;
        justify-content: space-around;
        padding: 50px 0;
        #facebook{
            i{
                color: blue;
            }
        }
        #twitter{
            i{
                color: aqua;
            }
        }
        #instagram{
            i{
                color: palevioletred;
            }
        }
        #pinterest{
            i{
                color: red;
            }
        }
        #youtube{
            i{
                color: red;
            }
        }
        button{
            padding: 5px 30px;
            border: rgb(207, 207, 207) solid 1px;
            border-radius: 50px;
        }
    }

    .presentation{
        h2{
            padding: 30px 0 10px;
            margin-bottom: 20px;
            font-size: 35px;
            border-bottom: #ff9614 1px solid;
        }
        img{
            width: 350px;
            float: left;
            padding: 0 20px 20px 0;
        }
        div{
            line-height: 30px;
        }
        padding-bottom: 100px;
    }

footer{
    background-color: #7b69a2;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    .left-footer{
        div{
            padding-top: 10px;
        }
    }
    .right-footer{
        display: flex;
        text-decoration: underline;
        a{
            color: white;
            padding: 15px;
        }
    }
}
#banner{
    width: 100%;
}

@media (max-width: 1200px){
    .main-container{
        padding: 0 20px;
    }
    main{
        width: 100%;
    }
    .video-container{
        flex-direction: column;
        width: 100%;
        padding: 50px;
        iframe{
            width: 100%;
            
        }
        .info-container{
            width: 100%;
            .info{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                div{
                    width: 300px;
                    padding: 30px 0 15px;
                }
            }
        }
    }
    .social{
        button{
            strong{
                display: none;
            }
        }
    }
    footer{
        flex-direction: column;
        align-items: center;
        text-align: center;
        .right-footer{
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

@media (max-width:881px){
    h1{
        span{
            display: none;
        }

    }

    .presentation{
        h2{
            text-align: start;
        }
        text-align: center;
        img{
            float: none;
            
            
        }
    }
    
}
